
<h1>New Person</h1>

<%= form_with model: @people do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% @people.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :email %><br>
    <%= form.email_field :email %><br>
    <% @people.errors.full_messages_for(:email).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :confirm_email%><br>
    <%= form.email_field :confirm_email %><br>
    <% @people.errors.full_messages_for(:email).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
